/* #DegreeMaps Stylesheet */

.custom-hr {
    display: block;
    width: 20%;
    height: 2px;
    border-color: rgba(191, 11, 11, 1) !important;
    background-color: #bf0b0b !important;
}

.home {
    /*background-color: #333;
    opacity: 0.9;
    background-color: rgba();
    z-index: -999;*/
}

.top {
    /*position: relative;
    z-index: 999;*/
}

.sign-up-btn {

}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.FontAwesome {
    font-family: 'Arial', FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav-header {

}

#typed {
    display: inline;
}

.announcement-banner {
    background-color: #F7F7F7;
    padding: 20px;
    text-align: center;
}
.announcement-banner .form-control {
    width: 60%;
    display: inline-block;
}
.announcement-banner .btn {
    margin-left: 10px;
}
/* Add some styling to the banner */
.fixed-banner {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}




.home {

}

.notifications {

}

.navbar {

}

.navbar_secondary {

}

.fixed_top {

}

.navbar_toggleable_md {

}

.container {

}

.mx_0 {

}

.mx_sm_auto {

}

.navbar_toggler {

}

.collapsed {

}

.collapse {

}

.icon_bar {

}

.top_bar {

}

.middle_bar {

}

.bottom_bar {

}

.navbar_brand {

}

.navbar_collapse {

}

.navbar_nav {

}

.nav_item {

}

.nav_link {

}

.dropdown {

}

.dropdown_toggle {

}

.dropdown_menu {

}

.dropdown_item {

}

.smoothScroll {

}

.button {

}

.button_primary {

}

.button_primary-green {

}

.button_primary_blue {

}

.button_signup {

}

.button_link {

}

.pt_5 {

}

.pb_4 {

}

.z2 {

}

.d_flex {

}

.flex_wrap {

}

.col_lg_6 {

}

.order_x1_1 {

}

.ml_md_auto {

}

.h1_home {

}

.font_weight_bold {

}

.mt_4 {

}

.mt_xl_5 {

}

.pb_3 {

}

.h1_small {

}

.home_form {

}

.pb_5 {

}

.form_email {

}

.text_small {

}

.p1_1 {

}

.home_sign_in {

}

.text_underline {

}

.order_x1_2 {

}

.align_self_center {

}

.center_block {

}

.move_up {

}

.z1 {

}

.green_wave_top {

}

.bg_green {

}

.pb_md_0 {

}

.pt_md_0 {

}

.trusted {

}

.row {

}

.col_4 {

}

.col_lg_2 {

}

.mb_2 {

}

.mohawk {

}

.col_6 {

}

.pt_md_5 {

}

.embed_responsive {

}

.embed_responsive_16x9 {

}

.embed_responsive_item {

}

.inline_embed_responsive {

}

.display_5 {

}

.text_center {

}

.text_sm_left {

}

.mt_3 {

}

.mb_3 {

}

.pt_4 {

}

.p_sm_0 {

}

.m_sm_5 {

}

.text_white {

}

.green_wave_bottom {

}

.move_up2 {

}

.gray_wave_top_inverse {

}

.bg_gray {

}

.bottomLine {

}

.pb_sm_0 {

}

.col_md_6 {

}

.col_lg_3 {

}

.do_card {

}

.max_150 {

}

." " {

}

.h5 {

}

.mt_2 {

}

.pt_2 {

}

.pb_2 {

}

.do_card_p {

}

.yellow_line {

}

.hawk {

}

.gray_wave_bottom_inverse {

}

.blue_wave_top {

}

.bg_blue {

}

.col_md_4 {

}

.snapHeader {

}

.col_md_12 {

}

.blue_wave_bottom {

}

.testimonial_block {

}

.col_sm_4 {

}

.style1 {

}

.max_300 {

}

.coral_wave_top {

}

.bg_coral {

}

.mb_5 {

}

.col_md_8 {

}

.max_650 {

}

.mt_5 {

}

.pt_sm_0 {

}

.mt_sm_0 {

}

.coral_wave_bottom {

}

.tool {

}

.tool_wrap {

}

.tool_flare {

}

.footer {

}

.footer_divide {

}

.footer_nav {

}

.footer_nav_header {

}

.footer_social_link {

}

.social {

}

.social2 {

}

.social_title {

}

.social_icon {

}

.social_icon_lg {

}

.social_email {

}

.social_facebook {

}

.social_instagram {

}

.social_twitter {

}

.social_linkedin {

}

.social_youtube {

}

.social_angellist {

}

.social_gcrowd {

}

.contact_us {

}

.cls_1 {

}

.col_sm_2 {

}

.col_sm_6 {

}

.text_right {

}

.mr_5 {

}

.hidden_sm_down {

}

.col_xl {

}

.p1_4 {

}

.pt_3 {

}

.card {

}

.card_header {

}

.mobile_footer {

}

.mobile_footer_content {

}

.mobile_address {

}

.mb_0 {

}

.w_100 {

}

.float_left {

}

.float_right {

}

.plus {

}

.minus {

}

.sub_footer {

}

.sub_footer_inner {

}

.mt_lg_2 {

}
