/* #DegreeMaps Custom Stylesheet */

.custom-hr {
    display: block;
    width: 20%;
    height: 2px;
    border-color: rgba(191, 11, 11, 1) !important;
    background-color: #bf0b0b !important;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#typed {
    display: inline;
}

/* Custom styles to make the mobile footer accordion seamless */
.accordion-flush .accordion-item {
    background-color: transparent;
    border: 0;
}

.accordion-flush .accordion-button {
    background-color: transparent;
    box-shadow: none; /* Removes the blue glow on click */
    padding-left: 0;
    padding-right: 0;
}

.accordion-flush .accordion-body {
    padding: 0.5rem 0; /* Adds a little vertical space but no horizontal padding */
}
